
@{
    ViewData["Title"] = "Learners";
}
@model List<Learners>

<div class="text-center">
    <h1 class="display-4">Learners</h1>
    <br />
    <hr/>
    <br />
    <h3>Total Number of Learners @ViewBag.Learners</h3>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            @{
              
                foreach (var learners in Model)
               
                {
                    <tr>
                        <td>
                            @learners.learnerId
                        </td>
                        <td>
                            @learners.firstName
                        </td>
                        <td>
                            @learners.lastName
                        </td>
                        <td>
                            @learners.email
                        </td>
                        <td>
                            @learners.password
                        </td>
                        <td>
                        <a asp-action="CreateEditLearner" asp-route-id="@learners.learnerId">Edit</a>
                            <a asp-action="DeleteLearner" asp-route-id="@learners.learnerId">Delete</a>

                        </td>
                    </tr>
                }
                
            }
        </tbody>
    </table>
</div>
